* {
  box-sizing: border-box;
}

:root {
  --pine-shadows: #4e5a40;
  --dark-mystery: #2c242a;
  --soothing-sage: #8e9d88;
  --calming-whisper: #84a9a1;
  --trust-us-beige: #e8e5ce;
  --gutter: 1rem;
  --color-svg: var(--trust-us-beige);
  --color-svg-hover: var(--dark-mystery);
  --color-svg-close: var(--calming-whisper);
}

body {
  margin: 0;
  color: var(--trust-us-beige);
  font-family: "Lexend", sans-serif;
  background-color: var(--pine-shadows);
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 50rem;
}

aside {
  padding-left: 1rem;
  padding-right: 1rem;
}

footer {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1 {
  color: var(--trust-us-beige);
  font-family: "Alegreya Sans", sans-serif;
  font-weight: bold;
  line-height: 1rem;
  margin-bottom: 5rem;
  font-size: 3rem;
}

h2 {
  color: var(--trust-us-beige);
  font-family: "Alegreya Sans", sans-serif;
  line-height: 1rem;
  margin-top: 3rem;
  font-size: 2rem;
  text-transform: uppercase;
}

h3 {
  color: var(--trust-us-beige);
  font-family: "Alegreya Sans", sans-serif;
  line-height: 1rem;
  font-size: 1.5rem;
  text-decoration: underline;
}

h1,
h2 {
  letter-spacing: 0.25rem;
}

a {
  text-decoration: none;
  color: var(--calming-whisper);
}

a[href]:hover {
  color: var(--dark-mystery);
}

a[href]:active {
  color: var(--dark-mystery);
  text-shadow: 5px 5px 5px var(--calming-whisper);
}

a:not([href]) {
  color: var(--dark-mystery);
}

main {
  margin-bottom: 5rem;
}

article {
  margin-bottom: 5rem;
}

figure {
  margin-top: 3rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

picture img {
  max-width: none;
}

/* temp fix to size about img */
img[srcset] {
  width: 50%;
  height: auto;
  margin: 2rem auto;
}

nav ul {
  display: flex;
  justify-content: space-around;
  background: var(--trust-us-beige);
  width: 100vw;
  margin-top: 0;
  margin-bottom: 5rem;
  list-style: none;
}

nav ul li a {
  display: inline-block;
  padding: 1.5rem;
}

h1,
h2,
h3 {
  line-height: 2rem;
  text-align: center;
}

header {
  align-self: stretch;
  max-width: 50rem;
}

header ul {
  opacity: 0;
  position: absolute;
  left: -100vw;
  transition: opacity 200ms ease;
}

.panel {
  display: flex;
  flex-direction: column;
}

.image-wrapper {
  order: -1;
  width: 100%;
  object-fit: cover;
}

.button {
  color: var(--trust-us-beige);
  padding: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--calming-whisper);
  margin: 1rem;
  margin-left: 0;
  display: inline-block;
}

.button:hover {
  background-color: var(--dark-mystery);
  transition: background-color 300ms ease;
  color: var(--trust-us-beige);
}

.hero {
  position: relative;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.hero img {
  filter: sepia(80%) brightness(75%);
}

.hero div {
  position: absolute;
  /* bottom: 15rem; */
  /* left: 35rem; */
  text-shadow: 5px 5px 5px var(--calming-whisper);
  display: flex;
  flex-direction: column;
  margin: var(--gutter);
  padding: var(--gutter);
}

.hero h1 {
  font-size: clamp(1rem, 4vw, 3rem);
  line-height: 2rem;
  margin: 0;
}

.cardintro {
  margin-left: 1rem;
  margin-right: 1rem;
}

.cards {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  /* transform: rotate(5deg); */
}

.card {
  flex: 1 1 0;
  flex: 0 1 20%;
  text-align: center;
  background-color: var(--soothing-sage);
  color: var(--trust-us-beige);
  transition: background-color 300ms ease, color 300ms ease;
}

.card img {
  transition: filter 300ms ease;
}

.card:hover img {
  filter: invert(75%);
}

.card:hover {
  color: var(--dark-mystery);
  background-color: var(--calming-whisper);
  cursor: pointer;
}

.menu-icon {
  border-radius: 30%;
  background-color: var(--soothing-sage);
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 10px;
  left: 10px;
  filter: drop-shadow(2px 2px 2px black);
  z-index: 1;
}

.menu-icon svg {
  /* width: 100%; */
  height: auto;
}

.menu-icon line {
  stroke: var(--color-svg);
  stroke-width: 6px;
  stroke-linecap: round;
  transform-origin: center;
  transition: transform 300ms ease, background-color 300ms;
}

.menu-icon line:first-child {
  transform: translateY(16%);
}

.menu-icon line:last-child {
  transform: translateY(-16%);
}

.menu-icon svg:hover line {
  stroke: var(--color-svg-hover);
}

.close line {
  stroke: var(--color-svg-close);
}

.close line:first-child {
  transform: rotate(135deg);
}

.close line:last-child {
  transform: rotate(-135deg);
}

.close ul {
  position: fixed;
  inset: 0 0 0 0;
  flex-direction: column;
  background-color: black;
  background-color: rgba(232, 229, 206, 0.9);
  height: 100vh;
  justify-content: center;
  align-items: center;
  opacity: 1;
  text-shadow: 1px 1px 5px var(--calming-whisper);
  font-size: 2.5rem;
  gap: 0.5rem;
}

.close a[href] {
  color: white;
}

.close .menu-icon {
  background-color: var(--trust-us-beige);
  filter: none;
}

/* Contact Page Stuff */
.contact {
  line-height: 1;
}

.contact form {
  display: grid;
}

.contact form > label,
.contact button {
  display: block;
  margin-top: 2rem;
}

.contact .fieldset-wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-top: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}

.contact input[type="email"] {
  margin-bottom: 2rem;
}

.contact fieldset {
  display: contents;
  border: none;
  padding: 0;
  margin: 0;
}

.contact legend {
  grid-column: 1 / span 2;
}

.contact button {
  justify-self: center;
}

.contact main {
  display: flex;
  flex-direction: column;
}

.contact .image-wrapper {
  align-self: center;
  max-width: 300px;
  min-width: 200px;
  order: -1;
  margin-bottom: 5rem;
}

/* .grid {
  display: grid;
  grid-template-columns: 1fr;
} */

/* styles for grid */
.contact input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  border: 1px solid var(--trust-us-beige);
  width: 24px;
  height: 24px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.contact input[type="radio"] {
  border-radius: 50%;
}

.contact input[type="radio"]::after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: var(--calming-whisper);
  transform: scale(0);
  transition: transform 200ms;
}

.contact input[type="radio"]:checked::after {
  transform: scale(1);
}

.contact input[type="checkbox"]::after {
  content: "";
  display: block;
  width: 6px;
  height: 10px;
  border-right: 4px solid var(--calming-whisper);
  border-bottom: 4px solid var(--calming-whisper);
  margin-bottom: 5px;
  transform: rotate(38deg);
  opacity: 0;
  transition: opacity 100ms;
}

.contact input[type="checkbox"]:checked::after {
  opacity: 1;
}

.contact form > input,
.contact textarea {
  color: var(--dark-mystery);
}

/* HIDDEN class */
.contact .hidden {
  display: none;
}

/* LOADER */
.loader {
  border: 1px solid var(--calming-whisper);
  width: 700px;
  height: 30px;
  background-color: var(--calming-whisper);
}

.indicator {
  transform: translatex(-50px);
  transform-origin: left;
  animation: run 5s infinite linear;
  filter: drop-shadow(-5px 5px 3px var(--soothing-sage));
}

@keyframes run {
  0% {
    transform: translatex(-50px);
  }
  100% {
    transform: translatex(650px);
  }
}

/* Media queries */
@media (min-width: 401px) {
  /* tablet CSS */
  header ul {
    opacity: 1;
    position: static;
  }

  .menu-icon {
    display: none;
  }

  .hero {
    margin-bottom: 0;
  }

  .text-content h2 {
    margin-top: 0;
  }

  .panel {
    flex-direction: row;
    gap: 1rem;
  }

  .image-wrapper {
    flex: 1 1 50%;
    order: 1;
  }

  .left {
    order: -1;
  }

  .text-content {
    flex: 1 1 50%;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    flex: 0 1 40%;
  }
}

@media (min-width: 601px) {
  .contact form {
    grid-template-columns: 1fr 2fr;
    column-gap: 1rem;
    row-gap: 1.5rem;
  }

  .contact form > label {
    justify-self: right;
    text-align: right;
    line-height: 1;
  }

  .contact .fieldset-wrapper {
    grid-column: 2 / span 1;
  }

  .contact button {
    grid-column: 2 / span 1;
    justify-self: start;
  }

  .contact button,
  .contact form > label,
  .contact .fieldset-wrapper {
    margin-top: 0;
  }
}

@media (min-width: 801px) {
  /* desktop CSS */
  .card {
    flex: 1 1;
    flex: 1 1 0;
  }

  .contact main {
    flex-direction: row;
    gap: 2rem;
  }

  .contact .image-wrapper {
    align-self: start;
  }
}

/* @media (max-width: 550px) {
  .cards {
    flex-direction: column;
    justify-content: center;
  }

  .card {
    flex: 0 1 20%;
  }

  h1,
  h2,
  h3 {
    line-height: 2rem;
  }
} */
